@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');
body {
    background-image: url("./img/bk.jpg");
    width: 100vh;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

audio {
    display: none;
}

h1 {
    color: #492574;
    font-family: 'Hanalei', cursive;
    font-size: xxx-large;
    text-shadow: white 1px 0 10px;
    text-align: center;
}